html,
body {
  font-size: 15px;
}
body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  color: #000;
}
*,
*:before,
*:after {
  box-sizing: border-box;
}
.title {
  margin: 0;
  font-size: 2.2rem;
  color: #24b;
  font-weight: 700;
}
.btn {
  display: inline-block;
  vertical-align: top;
  padding: 0.5em 1em;
  margin: 0.5rem;
  background-color: #ccc;
  border-radius: 5px;
  font-family: inherit;
  font-size: 1rem;
  color: #fff;
  text-decoration: none;
  transition: background 0.2s linear;
}
.btn span {
  color: #000;
}
.btn + .btn {
  margin-left: 1rem;
}
.disabled .btn {
  background-color: red;
  cursor: not-allowed;
}
.btn--primary {
  background-color: #24b;
}
.btn--primary:hover,
.btn--primary:focus {
  background-color: #365ada;
}
.btn--secondary {
  background-color: #fb3;
}
.btn--secondary:hover,
.btn--secondary:focus {
  background-color: #ffaa00;
}
.btn--green {
  background-color: #5a0;
}
.btn--green:hover,
.btn--green:focus {
  background-color: #3c7700;
}
