body {
  font-size: 16px;
  font-weight: normal;
}

table {
  width: 75%;
  margin: 10px auto;

  input {
    margin: 10px 0;
  }

  p {
    display: inline;
    margin: 10px 0;
  }
}

td {
  padding: 10px;
}

.sm {
  width: 25%;
  margin: 10px;
}